/* Typograhpie */

@import url('https://db.onlinewebfonts.com/c/8c401a9a2c0f3c491b08efb1ee08e796?family=Hansom+FY');

/* Design general */

*, ::before ::after{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  font-family: 'Hansom FY', sans-serif;
  font-weight: 400;
}

/* couleurs */

.rouge{
   color : #AF182B;
}


.bleu{
   color:#0080ff;
}

.orange{
   color: #F9A11B;
}

.blanc{
   color : #fff;
}

.noir{
   color: #000 !important;
}

/* Mise en forme */

.gras{
   text-transform: uppercase;
   font-weight: bold;
}

.soustitre{
   text-decoration: underline;
}

.uppercase{
   text-transform: uppercase;
}

/* flexer et containers */

.flexer{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items:center;
}

.container100{
width: 100%;
margin: 0 auto;
}

.container90{
width: 90%;
margin: 0 auto;
}

.container80{
width: 80%;
margin: 0 auto;
}


.container70{
width: 70%;
margin: 0 auto;
}

.container60{
width: 60%;
margin: 0 auto;
}


.container50{
width: 50%;
margin: 0 auto;
}

.container40{
width: 40%;
margin: 0 auto;
}


.container30{
width: 30%;
margin: 0 auto;
}

.container20{
width: 20%;
margin: 0 auto;
}


/* Design des blocs */

/* HEADER */

.logo {
   width: 7%;
}

/* modification du code bootstrap */

@media screen and (min-width: 992px) {
   .nav-item  {
      margin-left:  12vw;
   }
} /* --> mettre de l'espace entre les elements du header sans que cela ne s'affiche lorsque le header deviens un menu burger */


.navbar-light .navbar-toggler{
   color: rgba(0,0,0,0);
   border-color: rgba(0,0,0,0) ;
} /* --> Rend invisible les contours du boutton fermer du menu burger */

.navbar-nav .nav-link {
   padding-left: 45%;
} /* --> Décale les titre du menu burger */

.dropdown-menu {
   max-width: 20%;
   margin-left: 40%;
} /* --> Décale les cadres des dropdown du menu burger */

@media screen and (min-width: 992px) {
   .dropdown-menu  {
      margin-left: 0%;
   }
} /* --> Ne décale pas les cadres des dropdown dans le header */


/* Partie 1 */
.part1{
   padding-top: 5%;
   background-color: #eeeeee;
   height: 400px;
}

.logi {
   width: 60%;
}


#btnintro{
border-radius: 0 2.5rem 2.5rem 2.5rem;
background: #fff;
color: #2E2D49 !important;
border: 4px solid #2E2D49;
font-weight: bolder;
}



#btnintro:hover{
   background: #2E2D49;
   color: #fff !important;
}

/* transition p1-o2 */

.transi1 {

}

/* Partie 2 */

.part2{
   padding-top: 5%;
   background-color: #ffffff;
   height: 400px;
}

.collab {
   width: 90%;
}

.part2 h1{
   text-align: center;
}

.part2 p{
   text-align: center;
}


/* Partie 3 */

.part3{
   padding-top: 5%;
   background-color: #eeeeee;
   height: 400px;
}

.presta {
   width: 95%;
}




/* Partie 4 */


.part4{
   padding-top: 5%;
   background-color: #ffffff;
   height: 400px;
}

.projet {
   width: 80%;
}

.part4 h1{
   text-align: center;
}

.part4 p{
   text-align: center;
}

/* Partie 5 */

.part5{
background-color: #eeeeee;
}

.card {
width: 60%;
margin-left: 10vw;
}

/* FOOTER */



.pre-footer {
background-color: #ffffff;
}

.pre-footer .container80{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
padding-top: 30px;
padding-bottom: 25px;
}

.lane {
   width: 30%;
}

.icones i{
font-size: 40px;
width: 50px;
height: 50px;
color: #dedede;
}

.icones i:hover{
font-size: 40px;
color: rgba( 74, 227, 255 , 0.7);
}

.pre-footer .container80 .lane{
width: 30%;
}

.lane h3{
font-size: 18px;
padding-bottom: 10px;
border-bottom: 1px solid #000000;
margin-bottom: 23px;
padding-top: 10px;
color: #000000;
}

.lane h2{
font-size: 18px;
padding-bottom: 10px;
margin-bottom: 23px;
padding-top: 10px;
color: #808080;
}

.lane h2 :hover {
    text-decoration: underline;
    color: #000000;
}

.lane ul li a{
font-size : 13px;
display: block;
color: #808080;
padding-bottom: 20px;
}

.lane ul li{
color: #808080;
}

.lane ul li a:hover{
text-decoration: underline;
color: #000000;
}

.pre-footer .main-footer{
text-align: right;
margin-bottom: -27px;
}

.main-footer p{
color: #000000;
}


.main-footer a{
color: #000000;
}

.main-footer p a:hover{
color: #808080;
}
