/* Typograhpie */

@import url('https://db.onlinewebfonts.com/c/8c401a9a2c0f3c491b08efb1ee08e796?family=Hansom+FY');

/* Design general */

*, ::before ::after{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  font-family: 'Hansom FY', sans-serif;
  font-weight: 400;
}

/* couleurs */

.rouge{
   color : #AF182B;
}

.vert{
color : #029F65;
}

.bleu{
   color:#0080ff;
}

.orange{
   color: #F9A11B;
}

.blanc{
   color : #fff;
}

.noir{
   color: #000 !important;
}

/* Mise en forme */

.gras{
   text-transform: uppercase;
   font-weight: bold;
}

.soustitre{
   text-decoration: underline;
}

.uppercase{
   text-transform: uppercase;
}

.bigtitle{
   font-size: 60px;
}

.title{
   font-size: 20px;
}

.text-center{
   text-align: center;
}

.border{
   border-radius: 20px;
   box-sizing: border-box;
   border-bottom: 1px solid #969696;
}

/* flexer et containers */

.flexer{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items:center;
}

.container100{
width: 100%;
margin: 0 auto;
}

.container90{
width: 90%;
margin: 0 auto;
}

.container80{
width: 80%;
margin: 0 auto;
}


.container70{
width: 70%;
margin: 0 auto;
}

.container60{
width: 60%;
margin: 0 auto;
}


.container50{
width: 50%;
margin: 0 auto;
}

.container40{
width: 40%;
margin: 0 auto;
}


.container30{
width: 30%;
margin: 0 auto;
}

.container20{
width: 20%;
margin: 0 auto;
}

.height100{
   height: 100%;
}

.height80{
   height: 80%;
}

.verticalPad{
   padding-top: 6rem;
   padding-bottom: 6rem;
}

.horizontalPad{
   padding-left: 1.25rem;
   padding-bottom: 1.25rem;
}

.pad {
   padding: 2rem;
}

.pad2{
   padding: 1rem;
}


/* Design des blocs */

/* HEADER */


.bg-light{
   background-color: #fff !important;
   box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75) !important;
   z-index: 2;
}


.logo {
   width: 6%;
}

/* modification du code bootstrap */

@media screen and (min-width: 992px) {
   .nav-item  {
      margin-left:  9vw;
   }
} /* --> mettre de l'espace entre les elements du header sans que cela ne s'affiche lorsque le header deviens un menu burger */


.navbar-light .navbar-toggler{
   color: rgba(0,0,0,0);
   border-color: rgba(0,0,0,0) ;
} /* --> Rend invisible les contours du boutton fermer du menu burger */

.navbar-nav .nav-link {
   padding-left: 45%;
} /* --> Décale les titre du menu burger */

.dropdown-menu {
   max-width: 20%;
   margin-left: 40%;
} /* --> Décale les cadres des dropdown du menu burger */

@media screen and (min-width: 992px) {
   .dropdown-menu  {
      margin-left: 0%;
   }
} /* --> Ne décale pas les cadres des dropdown dans le header */


/* Design des modals de connexion */

@media screen and (max-width: 575px) {
   .modal-sm {
      max-width: 300px;
   }
   .modal-dialog{
      margin: 1.75rem auto;
   }
}


.modal-body{
padding: 0px;
}

.modal-content{
border-radius: 20px;
box-sizing: border-box;
}


.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 430px;
  padding: 20px;
  width: 320px;
}

.form2 {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 360px;
  padding: 20px;
  width: 320px;
}

.form2 p{
   color : #fff;
   font-family: sans-serif;
   padding-top: 10px;
   padding-left: 2%;
   margin-bottom: 0px;
   font-size: 13px;
   font-weight: bold;
}

.form2 p a{
   color: #fff;
}

.modaltitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-left: 17%;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
  padding-left: 10%;
}

.subtitle2 {
  color: #eee;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
  padding-left: 25%;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}


.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit2 {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 25px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}



/* fleche vers le haut */


.goToTop{
position: fixed;
right: 15px;
bottom: 15px;
z-index: 500;
}


.goToTop i{
    font-size: 40px;
    color: #0C99DF;
}


/* Partie 1 */
.part1{
   padding-top: 2%;
   background-image: url("../img/test6.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   position:relative;
   height:80%;
}

.part1 .container80{
   height: 100%;
}

@media (max-width: 768px) {
   .part1{
      height: 55%;
   }
}


.imglogiciel{
   width: 60%;
}


#btnintro{
border-radius: 0 2.5rem 2.5rem 2.5rem;
background: #fff;
color: #2E2D49 !important;
border: 4px solid #2E2D49;
font-weight: bolder;
}



#btnintro:hover{
   background: #2E2D49;
   color: #fff !important;
}

/* transition p1-p2 */

.transitionp1p2{
}

.waves {
   position: relative;
   width: 100%;
   height:2vh;
   margin-bottom:-7px; /*Fix for safari gap*/
   min-height:100px;
   max-height:150px;
   margin-top:-115px;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 100px;
   min-height: 40px;
   margin-bottom: 13px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }

}

/* Partie 2 */

.part2{
   padding-top: 2%;
   background-color: #ffffff;
   height: 100%;
   border-bottom: 1px solid #e5e7eb;
}


.cadre .container80{
   padding : 20px;
   height: 100%;
}

.collab {
   width: 90%;
}

.part2 h1{
   text-align: center;
}

.part2 p{
   text-align: center;
}


/* Partie 3 */

.part3{
   padding-top: 2%;
   background-color: #ffffff;
   height: 100%;
   border-bottom: 1px solid #e5e7eb;
}


.presta{
   width: 95%;
}

/* Partie 4 */


.part4{
   padding-top: 2%;
   background-color: #ffffff;
   height: 100%;
   border-bottom: 1px solid #e5e7eb;
}

.projet {
   width: 80%;
}

.part4 h1{
   text-align: center;
}

.part4 p{
   text-align: center;
}

/* Partie 5 */
/* Lien bootstrap cards : https://getbootstrap.com/docs/5.0/components/card/ */
.part5{
padding-top: 2%;
background-color: #eeeeee;
}

/* Correction bug row */
.row {
   margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
}

.card {
width: 60%;
margin-left: 10vw;
border-radius: 1rem 1rem 1rem 1rem;
}


.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

/* bouton découvrir */
#btncard{
border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
background: #fff;
color: #2E2D49 !important;
border: 2px solid #2E2D49;
font-weight: lighter;
}

#btncard:hover{
   background: #2E2D49;
   color: #fff !important;
}

.part5 .btn{
line-height: 0.5;
}

.part5 .btn-lg{
font-size: 1.1rem;
}

/* icone fleche droite */
.part5 i{
   padding-left: 5px;
}
.part5 .fas{
line-height: 0;
}


/* FOOTER */

.pre-footer {
background-color: #ffffff;
}

.pre-footer .container80{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
padding-top: 30px;
padding-bottom: 25px;
}



.icones i{
font-size: 40px;
width: 50px;
height: 50px;
color: #000000;
}

.icones i:hover{
font-size: 40px;
color: #0080ff;
}

.icones a{
   text-decoration: none;
}

.lane {
   width: 15%;
}

.lane ul {
   padding-left: 0px;
}

.lane h3{
font-size: 18px;
padding-bottom: 10px;
border-bottom: 1px solid #000000;
margin-bottom: 23px;
padding-top: 10px;
color: #000000;
}

.lane h2{
font-size: 18px;
padding-bottom: 10px;
margin-bottom: 23px;
padding-top: 10px;
color: #000000;
}

.lane h2:hover {
    text-decoration: underline;
    color: #000000;
}

.lane ul li a{
font-size : 17px;
display: block;
color: #000000;
padding-bottom: 15px;
text-decoration: none;
}

.lane ul li{
color: #808080;
list-style: none;
}

.lane ul li a:hover{
text-decoration: none;
color: #4d4d4d;
}

.lane2 {
   width: 35%;
}

.lane2 h3{
font-size: 18px;
padding-bottom: 10px;
border-bottom: 1px solid #000000;
margin-bottom: 23px;
padding-top: 10px;
color: #000000;
}

.lane2 h2{
font-size: 18px;
padding-bottom: 10px;
margin-bottom: 23px;
padding-top: 10px;
color: #000000;
}

.pre-footer .main-footer{
text-align: right;
margin-bottom: -27px;
}

.main-footer p{
color: #000000;
margin-bottom: 0px;
}


.main-footer a{
color: #000000;
}

.main-footer p a:hover{
color: #808080;
}
